<div class="header-content">
  <p>DASHBOARD - Home</p>
</div>
<div class="table-wrapper">
  <a th:href="@{/adicionar-tarefa}"><button>Adicionar Tarefa</button></a>
  <div class="thead">
      <div class="item">Nome</div>
      <div class="item">E-mail</div>
      <div class="item">Telefone</div>
      <div class="item">Username</div>
      <div class="item">Ações</div>
  </div>
  <div class="tbody">
      <div class="item-wrapper">
          <div class="item">-</div>
          <div class="item" >-</div>
          <div class="item">-</div>
          <div class="item" >-</div>
          <div class="item">
              <form method="POST">
                <input type="submit" value="X">
              </form>
          </div>
      </div>
  </div>
</div>
