<div class="conteiner-login">
  <div>E-mail ou nome de usuário</div>
  <div><input type="text" [(ngModel)]="login" /></div>

  <div class="text_senha"><span>Senha</span> Esqueci a senha?</div>
  <div><input type="password" [(ngModel)]="password" /></div>
</div>

<div><input type="button" value="Entrar" (click)="postLogin()" /></div>

<!--
Bem vindo, {{ auth.username }}
<input type="button" value="Sair" (click)="postLogout()" />
<div>
  <input type="button" value="Atualizar" (click)="getList()" />
  <div *ngIf="list">
    <h2>Lista de usuarios cadastrados</h2>

    <table border="1">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
      <tr *ngFor="let user of list">
        <td>{{ user['id'] }}</td>
        <td>{{ user['name'] }}</td>
        <td>{{ user['phone'] }}</td>
      </tr>
    </table>
  </div>
</div>
-->
