<!--HOME USER ADMIN-->
<div><main class="main-container">
  <div class="menu">
      <div class="div-title">
          <h1>Loja MLW</h1>
      </div>
      <nav class="menu-item-wrapper">
          <a class="item" [routerLink]="['']"> Home</a>
          <a class="item" [routerLink]="['users']"> Clientes</a>
          <a class="item" [routerLink]="['parts']"> Peças</a>
          <a class="item" [routerLink]="['brands']"> Marcas</a>
          <a class="item" [routerLink]="['budgets']"> Orçamento</a>
          <a (click)="postLogout()" class="item"> Sair</a>
      </nav>

  </div>
  <section class="main-content">
      <header class="header-wrapper">
          <p>Painel de Controle Administrativo</p>
      </header>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
  </section>
</main></div>
<!--HOME USER-->
<div>Home works!</div>
<button class="btn btn-primary" (click)="postLogout()">Sair</button>
