@charset "ISO-8859-1";

/* v1 */

html {
    height: 100%;
  }

  body {
    height: 100%;
    display: flex;
  }

  .main-container .menu {
    flex-grow: 1;
    width: 290px !important;
    min-height: 100vh;
  }

  .main-container .main-content {
    width: calc(100% - 250px) !important;
    flex-shrink: 0;
  }


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      text-decoration: none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }



  .table-wrapper .thead
{
    display: flex;
    max-width: 900px;
    width: 100%;
    border-right: 1px solid rgb(168, 168, 168);
    border-top: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);
}

.table-wrapper button
{
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--tertiary);
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.table-wrapper .thead .item
{
    max-width: 240px;
    padding: 10px 5px;
    width: 100%;
    background-color: var(--tertiary);
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 14px;
    border-right: 1px solid #07af8e;
}

.table-wrapper .tbody
{
    max-width: 900px;
    width: 100%;
}

.table-wrapper .tbody .item-wrapper
{
    display: flex;
    border-right: 1px solid rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);
    width: 100%;

}

.table-wrapper .tbody .item-wrapper .item
{
    max-width: 240px;
    padding: 5px 5px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-right: 1px solid rgb(192, 192, 192);
}

.table-wrapper .tbody .item-wrapper .item:last-child
{
    display: flex;
    justify-content: space-around;
}



.main-container
{
    width: 100%;
    display: flex;
}

.main-container .menu
{
    max-width: 250px;
    width: 100%;
    background-color: #293644;
    font-family: 'Poppins', sans-serif;
}

.main-container .menu .div-title
{
    background-color: #293644;
    color: #FFF;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    border-bottom: 2px solid #1d2630;
}

.main-container .menu .menu-item-wrapper
{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.main-container .menu .menu-item-wrapper a
{
    display: flex;
    align-items: center;
}

.main-container .menu .menu-item-wrapper a img
{
    margin-right: 10px;
}

.main-container .menu .menu-item-wrapper .item
{
    height: 40px;
    color: #FFF;
    line-height: 40px;
    padding: 0 20px;
    font-size: 15px;
    border-bottom: 1px solid #465669;
}

.main-container .main-content .header-wrapper
{
    height: 52px;
    line-height: 50px;
    color: #FFF;
    background-color: var(--tertiary);
    padding: 0 25px;
    font-family: 'Poppins', sans-serif;
}

.main-container .main-content .content-wrapper
{
    padding: 30px 25px;
}

.main-container .main-content .content-wrapper .header-content
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 50px;
}

form input[type=submit]
{
    border: none;
    background-color: var(--danger);
    padding: 10px 20px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}



